.bttm {
	bottom: 0;
    overflow: hidden;
    position: absolute;
    display: -webkit-box;
    left: 0;
}

.inp {
	width:75%;
}

//medium+ screen sizes
@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}
 
//small screen sizes
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}