.bttm {
	bottom: 0;
    overflow: hidden;
    position: absolute;
    display: -webkit-box;
    left: 0;
}

.inp {
	width:75%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #side-right {display:none;}
  #side-left {display:none;}
  #main-chat {width:100%!important;}
  
}

